@font-face {
  font-family: 'work-sans';
  font-weight: 300;
  src: url('./WorkSans-Light.woff2');
}

@font-face {
  font-family: 'work-sans';
  src: url('./WorkSans-Regular.woff2');
}

@font-face {
  font-family: 'work-sans';
  font-weight: 500;
  src: url('./WorkSans-Medium.woff2');
}

@font-face {
  font-family: 'work-sans';
  font-weight: 700;
  src: url('./WorkSans-Bold.woff2');
}
