.feature-section
  margin-top: -5px
  padding-bottom: 120px
  padding-top: 40px
  display: flex
  flex-direction: column
  align-items: center

.features
  max-width: 1110px
  display: flex
  flex-wrap: wrap
  z-index: 12
  & .feature
    z-index: 12
    flex-grow: 1
    padding: 20px
    max-width: calc(33% - 40px)
    text-align: center

.primary-btn
  z-index: 12
  position: absolute
  left: 50%
  transform: translate(-50%,-0%)
  margin-top: 25px

.mission-slant
  & .thing
    height: 20px
