.feature-section
  margin-top: -5px
  padding-top: 20px

.features
  display: flex
  flex-wrap: wrap
  z-index: 12
  & .feature
    z-index: 12
    flex-grow: 1
    max-width: 33%
    text-align: center

.primary-btn
  z-index: 12
  position: absolute
  left: 50%
  transform: translate(-50%,-0%)
  margin-top: 25px

.mission-slant
  & .thing
    height: 20px
