.footer
  & footer
    margin-top: 40vh
    display: flex
    justify-content: space-between
    align-items: center

    & .footer-column
      max-width: 45%

      & li:nth-child(3)
        color: var(--lightCopy)

      & ul
        list-style: none
    & .second-column
      text-align: right

  & .back-to-top
    display: flex
    justify-content: center

.footer-slant
  z-index: -10
  top: -20vh
