.header-banner
  background-color: var(--bg)
  & nav
    display: flex
    justify-content: space-between
    align-items: center
  & ul
    display: flex
    list-style: none
    & li
      margin: 0 15px
    & .github img
      width: 20px
      height: 20px
    & .twitter img
      width: 21px
      height: 17px
    & img
      vertical-align: middle
