.header-banner
  background-color: var(--bg)
  & nav
    display: flex
    justify-content: space-between
    align-items: center
  & ul
    margin-top: 20px
    display: flex
    list-style: none
    & li
      margin: 0 15px
    & .github img
      width: 20px
      height: 20px
    & .twitter
      width: 50px
    & .github-star
      width: 80px
    & img
      vertical-align: middle
