.DalleDisplay-Demi
	font-family: DalleDisplay-Demi
	font-weight: normal
	font-style: normal

.DalleDisplay-Thin
	font-family: DalleDisplay-Thin
	font-weight: normal
	font-style: normal

.DalleSet-Regular
	font-family: DalleSet-Regular
	font-weight: normal
	font-style: normal
