object(type="image/svg+xml" data="./images/slant.svg").slanty-thing.flip

section.footer
  footer.wrapper
    .footer-column
      ul
        li: img(src="./images/logo@2x.png").logo
        li: p.light PGP Encryption made easy.
        li: p Available within Tor at http://fncuwbiisyh6ak3i.onion
    .footer-column.second-column
      ul
        li: iframe(src="https://ghbtns.com/github-btn.html?user=twbs&repo=bootstrap&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px")
        li: p.light Support easy to use encryption &#128150;
        li: p &ldquo;There is no justice in following unjust laws.&rdquo; </br>&ndash; Aaron Swartz

  .back-to-top
    a(href="")
      img(src="http://www.fillmurray.com/50/50")
      p back to top
