.header-banner
  header.wrapper
    nav
      img(src="./images/logo@2x.png").logo
      ul
        li.twitter: a(href="https://twitter.com/share" class="twitter-share-button" data-url="https://felony.io" data-text="Encryption built for a trump presidency 🔑💖"): Tweet
          | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        li.github-star: iframe(src="https://ghbtns.com/github-btn.html?user=twbs&repo=bootstrap&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px")
        
