.header-banner
  header.wrapper
    nav
      img(src="./images/logo@2x.png").logo
      ul
        li.github: a(href=""): img(src="./images/github@2x.png")
        li: iframe(src="https://ghbtns.com/github-btn.html?user=twbs&repo=bootstrap&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px")
        li.twitter: a(href=""): img(src="./images/twitter@2x.png")
