.hero
  section
    .left-hero.hero-side
      h1 Encryption Built for</br>a Trump Presidency
      p Easily send PGP encrypted</br>messages anywhere.
      a(href="").btn.hero-btn.download download

      script(type='text/javascript').
        var links = {
          'Win': 'http://windows.download/',
          'Mac': 'http://mac.download/',
          'X11': 'http://linux.download/',
          'Linux': 'http://linux.download/'
          }
          var anchors = document.getElementsByClassName('download');
          for (var i = 0; i < anchors.length; i++) {
          for (var os in links) {
             if (links.hasOwnProperty(os)) {
                var link = links[os];
                if (navigator.appVersion.indexOf(os) > -1) {
                  anchors[i].href = link;
                }
             }
          }
        }

      ul.platforms
        li: img(src="./images/apple@2x.png").apple
        li: img(src="./images/windows@2x.png").windows
        li: img(src="./images/linux@2x.png").linux
    .right-hero.hero-side
      img(src="./images/screenie@2x.png").hero-image

object(type="image/svg+xml" data="./images/slant.svg").slanty-thing
