section.mission
  h3.title challenge power
  p Don&rsquo;t care about your privacy? According to Glenn Greenwald, you&rsquo;re saying "I have agreed to make myself such [an] uninteresting person that I don't fear having the government know what… I'm doing."<br/><br/>Protecting your communication has never been this easy. Use Felony to encrypt messages, such as your address on darknet markets or any sensitive information intended to be viewed strictly by intended recipients. The NSA can't read your message. Facebook can&rsquo;t read your message. Not even your mom can read your message. PGP is widely accepted as , now put to use for your personal privacy.<br/><br/>Take control of your online identity, using Felony to sign messages. Using your private key, recipients can verify a message was sent by you and wasn&rsquo;t altered by a third party.<br/><br/>- The Felony Team

object(type="image/svg+xml" data="./images/slant-sans-red.svg").slanty-thing
