section.mission
  h3.title Inauguration Day 2017
  p Protecting your personal communications has never been this easy. With Felony, the NSA can't read your messages. Facebook can&rsquo;t read your messages. Even your mom can&rsquo;t read your messages (though you should probably call her more often). Use Felony to take control of your privacy, and you&rsquo;ll see why Inauguration Day 2017 won&rsquo;t be like 1984.

object(type="image/svg+xml" data="./images/slant-sans-red.svg").slanty-thing
