doctype html
html(lang="en")
  head
    link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css', rel='stylesheet')

    //
      @license
      MyFonts Webfont Build ID 3221626, 2016-05-19T15:29:00-0400

      The fonts listed in this notice are subject to the End User License
      Agreement(s) entered into by the website owner. All other parties are
      explicitly restricted from using the Licensed Webfonts(s).

      You may obtain a valid license at the URLs below.

      Webfont: DalleDisplay-Demi by Stawix
      URL: http://www.myfonts.com/fonts/stawix/dalle/display-demi/

      Webfont: DalleDisplay-Thin by Stawix
      URL: http://www.myfonts.com/fonts/stawix/dalle/display-thin/

      Webfont: DalleSet-Regular by Stawix
      URL: http://www.myfonts.com/fonts/stawix/dalle/regular/


      License: http://www.myfonts.com/viewlicense?type=web&buildid=3221626
      Licensed pageviews: 10,000
      Webfonts copyright: &#x00A9; 2012, 2013, 2014 by Stawix Ruecha &amp; Foundry. All
      rights reserved.

      © 2016 MyFonts Inc
    link(href='./styles/MyFontsWebfontsKit.css', rel='stylesheet')
    link(href='./styles/style.css', rel='stylesheet')

    title Felony Its PGP made easy!
  body
    include ./partials/_header.pug
    include ./partials/_hero.pug
    include ./partials/_how.pug
    include ./partials/_mission.pug
    include ./partials/_features.pug
    include ./partials/_footer.pug
